<%- include  ../../partials/header.ejs %>
<body>
 <%- include  ../../partials/navbar.ejs %>
<div class="container">
    <hr>
    <div class="card">
    
    <div class="card-header">
       <h2>Cadastro de categoria</h2> 
    </div>
    <div class="card-body">
    <form action="/categories/save"  method="post">
    <input type="text " name="title" placeholder="define o titulo da categoria" class="form-control" required>
    <br>
     <button class="btn btn-success"> Cadastrar</button>
    </form>
</div>
</div>
</div>
</body>
<%- include ../../partials/footer.ejs %>